<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.4//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dataManage.mapper.data2.Data2Mapper">

    <insert id="insertData" parameterType="java.util.Map">
   		 INSERT INTO gwjc_moni_data
			(id,conf_id,data_value,data_time) 
		 VALUES 
		    (#{id}, #{conf_id},#{data_value}, #{data_time})
    </insert>
    
    <update id="updateData" parameterType="java.util.Map">
        UPDATE gwjc_moni_data set
             data_value = #{data_value},
             data_time = #{data_time}
        where conf_Id = #{conf_id}
    </update>
    
    <insert id="insertHistory" parameterType="java.util.Map">
   		 INSERT INTO gwjc_moni_data_history
   		 	(id,conf_id,data_value,data_time) 
   		 VALUES 
   		 	(#{id}, #{conf_id},#{data_value}, #{data_time})
    </insert>
    
    <select id="getDataList" parameterType="java.util.Map" resultType="Map">
        select t1.id conf_id,max(t2.data_time) data_time   
        	from  gwjc_moni_site_item t1 
        	left join gwjc_moni_data t2 on t1.id=t2.conf_id
        	where 1=1
        	<if test="null != conf_id">AND t1.id = #{conf_id}</if>
        group by t1.id
    </select>
    
    <delete id="deleteDataHistory" parameterType="java.util.Map">
        DELETE FROM gwjc_moni_data_history  
        where conf_id=#{conf_id}
        <if test="null != data_time">AND data_time &gt; #{data_time}</if>
        
    </delete>
    <select id="getHistoryList" parameterType="java.util.Map" resultType="Map">
        select id,conf_id,data_value,data_time,input_time,alerm_flag   from  gwjc_moni_data_history t
        where 1=1
		<if test="null != conf_id">AND conf_id = #{conf_id}</if>
		<if test="null != start_date">AND data_time &gt; #{start_date}</if>
		<if test="null != end_date"> AND data_time &lt; #{end_date}</if>
		order by data_time
    </select>
</mapper>